html, body
{
	background: #000;
	color: #fff;
	font-family: "tahoma","trebuchet ms", "sans serif";
	margin: 0
}
a
{
	text-decoration: none
}
#c
{
	background: url(pics/box.png);
	height: 173px;
	margin: 10% auto;
	padding: 130px 30px 30px 30px;
	text-align: center;
	width: 498px
}
#c h1
{
	display: none;
	font-size: 52px;
	margin: 0
}
#c p
{
	font-size: 14px
}
#c a
{
	color: #72a5e4;
}